.wrap {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    margin-top:3%;
}
.login-form{
    width: 350px;
    margin: 0 auto;
    padding: 2rem;
    background: #ffffff;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.form-group{
    margin-bottom: 1rem;
}
.form-button{
    background: #09402C;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: #0F593E;
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
}
.form-footer{
    text-align: center;
}