  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
 
 .logo{
    text-align: left;
    background-color: #fff;
    color: #000000;
    display:inline-block;    
    width: 180px;
    height: 60px;
    line-height: 60px;
  }

  .menu {
    background-color: #F2A391;
    font-family: 'Oswald', sans-serif;
    font-size: 1.0em;
    line-height: 40px;
    height: 40px;
    width: 200px;
    border-bottom: 1px solid #F2A391;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: .3s background-color;
    padding-right: 10px;
    padding-left: 10px;
  }

  a{
    text-decoration: none;
  }

  .menu a{
    color:#fff;
  }
   
  .menu:hover {
    background-color: #BF907E;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
